site/
Gemfile.lock
_vendor/
*.gem
pkg/
*.swp
*~
_site/
.bundle/
.DS_Store
bbin/
gh-pages/
site/_site/
coverage
.ruby-version
.ruby-gemset
.sass-cache
tmp/*
.jekyll-metadata
/vendor
/test/source/file_name.txt
.sublime/
*.log
node/node_modules/