---
layout: default
type: home
---
{% assign offset = paginator.page|minus:2|times:10|plus:10|minus:site.pinned %}
<div class="home">
	{% if paginator.page == 1 %}
	<div class="gallery autoplay items-{{ site.pinned }}">
		{% for post in site.tags.popular limit:site.pinned %}
		<div id="item-{{ forloop.index }}" class="control-operator"></div>
		{% endfor %}

		{% for post in site.tags.popular limit:site.pinned %}
		<figure class="item" style="{{ post.bg }}">
			<a class="head-link" href="{{ post.url | prepend: site.baseurl }}">
			<article class="post-header">
					<div id="header-content">
						<h1 class="post-title">{{ post.title }}</h1>
						<p>{{ post.summary }}</p>
					</div>
			</article>
			</a>
		</figure>
		{% endfor %}

		<div class="controls">
			{% for post in site.tags.popular limit:site.pinned %}
			<a href="#item-{{ forloop.index }}" class="control-button">•</a>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<div class="wrapper">
		<section>
			<h1 class="page-heading">Latest Stories</h1>
			
			<ul class="post-list">
				{% if paginator.page == 1 %}
					{% assign limit = 10|minus:site.pinned %}
					{% for post in site.unpinned limit:limit %}
					<li>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
						<p>{{ post.summary }}</p>
					</li>
					{% endfor %}
				{% else %}
					{% for post in site.unpinned limit:10 offset:offset %}
						<li>
							<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
							<p>{{ post.summary }}</p>
						</li>
					{% endfor %}
				{% endif %}
			</ul>

			<div class="pagination">
				{% if paginator.total_pages > 1 %}
					{% if paginator.previous_page %}
					<a href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-button previous active">Previous Page</a>
					{% else %}
					<span class="page-button previous">Previous Page</span>
					{% endif %}
					{% if paginator.next_page %}
					<a href="{{ paginator.next_page_path }}" class="page-button next active">Next Page</a>
					{% else %}
					<span class="page-button next">Next Page</span>
					{% endif %}
				{% endif %}
			</div>
		</section>

		<aside>
			{% include categories.html %}
			<p class="rss-subscribe">subscribe <a href="{{ "/feed" | prepend: site.baseurl }}">via RSS</a></p>
		</aside>
	</div>

</div>
