---
layout: default
type: search
---

<div class="home">

	<div class="wrapper">
		<section class="results">
			<h1 class="page-heading">Search results for '<span id="query"></span>'</h1>
			
			<ul class="post-list" id="search-list">
				<span class="text">Loading results...</span>
			</ul>

			<div class="pagination" id="pagination" hidden>
				<a href="#" id="prevAct" class="page-button previous active">Previous Page</a>
				<span class="page-button previous" id="prevText">Previous Page</span>
				<a href="#" class="page-button next active" id="nextAct">Next Page</a>
				<span class="page-button next" id="nextText">Next Page</span>
			</div>
		</section>

		<aside>
			{% include categories.html %}
			{% include latest.html %}
			<p class="rss-subscribe">subscribe <a href="{{ "/feed" | prepend: site.baseurl }}">via RSS</a></p>
		</aside>
	</div>

</div>
