/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @include clearfix;
    @include outer-container;
    font-size: 15px;
    color: $grey-color;
}

.footer-col {
    margin-bottom: $spacing-unit / 2;
}

.footer-col-1 {
    @include media($small) {
        @include span-columns(1 of 2);
    }

    @include media($medium) {
        @include span-columns(4);
    }
}

.footer-col-2 {
    @include media($medium) {
        @include span-columns(2);
    }
}

.footer-col-3 {
    @include media($small) {
        @include span-columns(12);
    }

    @include media($medium) {
        @include span-columns(6);
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.page-header {
    margin-bottom: $spacing-unit;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    height: 300px;
    margin-bottom: $spacing-unit;
}

.post-title, .page-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media($medium) {
        font-size: 36px;
    }
}

.post-content, .page-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media($medium) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media($medium) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media($medium) {
            font-size: 18px;
        }
    }
}
