/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    position: relative;
}

.site-title {
    float: left;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 56px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @include clearfix;
    @include outer-container;
    color: $grey-color;
    font-size: 15px;
}

.footer-col {
    margin-bottom: $spacing-unit / 2;
}

.footer-col-1 {
    @include media($small) {
        @include span-columns(1 of 2);
    }

    @include media($medium) {
        @include span-columns(4);
    }
}

.footer-col-2 {
    @include media($medium) {
        @include span-columns(2);
    }
}

.footer-col-3 {
    @include media($small) {
        @include span-columns(12);
    }

    @include media($medium) {
        @include span-columns(6);
    }
}

/**
 * Page content
 */
.page-content {
    padding: 0 0 $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.page-header {
    margin-bottom: $spacing-unit;
}

.post-list {
    list-style: none;
    margin-left: 0;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
    font-size: $small-font-size;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    @include prefixer(box-align, center, webkit moz ms spec);
    @include prefixer(align-items, center, webkit spec);
    @include prefixer(box-pack, center, webkit moz);
    @include prefixer(justify-content, center, webkit spec);

    // @include radial-gradient(circle at 50% 0%, #8abb5d, #42736f);

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    height: 300px;
    margin-bottom: $spacing-unit/2;
}

.header-content {
    text-align: center;
}

.icon {
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 0 30px 0 45px;

    span {
        @include transition(color .2s ease-in 0s);
        color: $background-color;
        display: none;

        @include media($narrow) {
            display: inline;
        }
    }

    &:hover {
        span {
            color: $text-color;
        }
    }

    &.gh { background-image: url('/assets/images/browser.svg');}
    &.code { background-image: url('/assets/images/GitHub-Mark-Light-32px.png');}
}

.post-title, .page-title {
    color: $grey-color-light;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1.2;

    @include media($small) {
        font-size: 42px;
    }
}

.post-content, .page-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media($medium) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media($medium) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media($medium) {
            font-size: 18px;
        }
    }
}
