/**
 * Site header
 */
.site-header {
    min-height: 60px;
    position: relative;
}

.site-title {
    float: left;
    font-size: 28px;
    line-height: 60px;
    margin-bottom: 0;
    text-transform: lowercase;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

#search {
    padding: 10px 15px 10px 0;

    #searchbox {
        background: $grey-color url('/assets/images/search.svg') no-repeat;
        background-position: 8px center;
        background-size: 15px;
        border: 0;
        border-radius: 8px;
        color: $background-color;
        float: right;
        font-size: 1em;
        height: 40px;
        line-height: 40px;
        max-width: 150px;
        padding: 5px 10px 5px 30px;

        &:focus {
            outline: none;
        }

        @include media($narrow) {
            background-position: 10px center;
            font-size: 1.1em;
            max-width: 200px;
        }

        @include media($small) {
            font-size: 1.1em;
            max-width: 250px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @include clearfix;
    @include outer-container;
    color: $grey-color;
    font-size: 15px;
}

.footer-col {
    margin-bottom: $spacing-unit / 2;
}

.footer-col-1 {
    @include media($small) {
        @include span-columns(1 of 2);
    }

    @include media($medium) {
        @include span-columns(4);
    }
}

.footer-col-2 {
    @include media($medium) {
        @include span-columns(2);
    }
}

.footer-col-3 {
    @include media($small) {
        @include span-columns(12);
    }

    @include media($medium) {
        @include span-columns(6);
    }
}

/**
 * Page content
 */
.page-content {
    padding: 0 0 $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.page-header {
    margin-bottom: $spacing-unit;
}

.post-list {
    list-style: none;
    margin-left: 0;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
    display: inline-block;
    font-size: $small-font-size;
}

.post-link {
    display: inline-block;
    font-size: 24px;
    margin-right: 30px;
}



/**
 * Posts
 */
.post-header {
    @include prefixer(box-align, center, webkit moz ms spec);
    @include prefixer(align-items, center, webkit spec);
    @include prefixer(box-pack, center, webkit moz);
    @include prefixer(justify-content, center, webkit spec);

    // @include radial-gradient(circle at 50% 0%, #8abb5d, #42736f);

    color: $background-color;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    height: 300px;
    margin-bottom: $spacing-unit/2;

    p {
        max-width: 600px;
        padding: 0 5px;
    }
}

.header-content {
    text-align: center;
}

.icon {
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 0 30px 0 45px;

    span {
        @include transition(color .2s ease-in 0s);
        color: $background-color;
        display: none;

        @include media($narrow) {
            display: inline;
        }
    }

    &:hover {
        span {
            color: $text-color;
        }
    }

    &.gh { background-image: url('/assets/images/browser.svg');}
    &.code { background-image: url('/assets/images/GitHub-Mark-Light-32px.png');}
}

.post-title {
    color: $grey-color-light;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1.2;

    @include media($small) {
        font-size: 42px;
    }
}

.page-title {
    color: $grey-color-dim;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.2;

    @include media($small) {
        font-size: 38px;
    }
}

.post-content, .page-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media($medium) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media($medium) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media($medium) {
            font-size: 18px;
        }
    }
}

.aside {
    h1 {
        margin-bottom: 0;
    }

    display: block;
    margin-bottom: 30px;
}

.pagination {
    @include clearfix;
    text-align: center;

    .previous {
        float: left;
    }

    .next {
        float: right;
    }

    span {
        color: #000;
    }

    .page-button {
        color: $grey-color;
        font-size: 16px;

        @include media($small) {
            margin: 0 30px;
        }
    }

    .active {
        @include transition(color .2s ease-in 0s);
        color: $brand-color;

        &:hover {
            color: darken($brand-color, 50%);
        }
    }
}

.comment-block {
    border-top: 1px solid $grey-color-light;
    text-align: justify;
    line-height: 20px;
    font-size: 16px;
    padding: 10px 0 5px 5px;

    .text {
        padding-left: 0;
    }
}

#new-comment {
    padding-left: 5px;
    margin-bottom: 15px;

    input, textarea {
        margin-bottom: 5px;
        width: 80%;
        font-size: 16px;
        max-width: 400px;
    }

    textarea {
        height: 75px;
    }

    button {
        width: 70%;
        width: 160px;
    }
}