// Global Variables
$max-width: 960px !global;
$grid-columns: 12 !global;

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.6;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Media Queries
$narrow: new-breakpoint(min-width 400px);
$small: new-breakpoint(min-width 650px);
$medium: new-breakpoint(min-width 960px);
