---
layout: default
type: home
---
{% assign offset = paginator.page|minus:1|times:7 %}
{% assign limit = 7 %}

	{% if paginator.page == 1 %}
		{% assign feat = site.posts[0] %}
		{% assign offset = 1 %}
		{% assign limit = 6 %}
		
		<header style="{{ feat.bg }}">
			<section class="site-header">
				<div class="wrapper">
			
					<a class="site-title" href="{{ site.baseurl }}/">{{ site.title | capitalize }}</a>
			
					<div id="search">
						<a href="{{ "/feed/index.xml" | prepend: site.baseurl }}"><span class="rss-icon">
							<svg viewBox="0 0 24 24" width="30px" height="30px">
								<use xlink:href="/assets/images/sprites.svg#rss"></use>
							</svg></span>
						</a>
						<form id="searchform">
							<input type="text" placeholder="search" id="searchbox">
						</form>
					</div>
				</div>
			</section>
			
			<a class="head-link" href="{{ feat.url | prepend: site.baseurl }}">
				<section class="post-header">
					<div class="header-content">
						<h5>FEATURED STORY</h5>
						<h1 class="post-title">{{ feat.title }}</h1>
						<p>{{ feat.summary }}</p>
					</div>
				</section>
			</a>
		</header>
	{% else %}
		{% include header.html %}
	{% endif %}

	<div class="wrapper">
		<div class="home-content">
			<h1 class="sans-bold page-heading">LATEST STORIES</h1>
			
			<ul class="post-list">
				{% for post in site.posts limit:limit offset:offset %}
				<li>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} | 
					{% for cat in post.categories limit:3 %}
						<a href="/categories/{{cat}}">{{cat}}</a>
					{% endfor %}
					</span>
					<p>{{ post.summary }}</p>
				</li>
				{% endfor %}
			</ul>

			<div class="pagination">
				{% if paginator.total_pages > 1 %}
					{% if paginator.previous_page %}
					<a href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-button previous active">Newer Stories</a>
					{% else %}
					<span class="page-button previous">Newer Stories</span>
					{% endif %}
					{% if paginator.next_page %}
					<a href="{{ paginator.next_page_path }}" class="page-button next active">Older Stories</a>
					{% else %}
					<span class="page-button next">Older Stories</span>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>

</div>
