<script>
	var cb = function() {
		var l = document.createElement('link'); l.rel = 'stylesheet';
		l.href = '/assets/main.css?v200';
		var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
	};
	var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
	if (raf) raf(cb);
	else window.addEventListener('load', cb);
</script>
{% if page.type == 'search' %}
<script type="text/javascript" src="/assets/js/search.js"></script>
{% elsif page.type == 'home' %}
<script type="text/javascript" src="/assets/js/home.js"></script>
{% else %}
<script type="text/javascript" src="/assets/js/post.js"></script>
{% endif %}