<script>
	var cb = function() {
		var l = document.createElement('link'); l.rel = 'stylesheet';
		l.href = '/assets/main.css';
		var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
	};
	var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
	if (raf) raf(cb);
	else window.addEventListener('load', cb);
</script>
{% if page.type == 'search' %}
  {% javascript https://cdn.rawgit.com/botleg/botleg.github.io/4b4b956b22f310266b47309d4e374b569b468c55/assets/js/search.js %}
{% elsif page.type == 'post' %}
  {% javascript https://cdn.rawgit.com/botleg/botleg.github.io/4b4b956b22f310266b47309d4e374b569b468c55/assets/js/post.js %}
{% else page.type == 'home' %}
  {% javascript https://cdn.rawgit.com/botleg/botleg.github.io/4b4b956b22f310266b47309d4e374b569b468c55/assets/js/home.js %}
{% endif %}