---
layout: default
type: post
---
{% assign tags = page.tags %}
<div class="post">

	<header class="post-header" style="{{ page.bg }}">
		<div class="header-content">
			<h1 class="post-title">{{ page.title }}</h1>
			{% if page.gh %}
				<a class="icon gh" href="{{ page.gh }}" target="blank"><span>View Code</span></a>
			{% endif %}
			{% if page.demo %}
				<a class="icon code" href="{{ page.demo }}" target="blank"><span>View Demo</span></a>
			{% endif %}
		</div>
	</header>

	<div class="wrapper">
		<section>
			<article class="post-content">
				<p class="post-meta">Written by {{ site.author }} on {{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %} | 
				{% for cat in page.categories limit:3 %}
					{% assign tags = tags | push: cat %}
					<a href="/categories/{{cat}}">{{cat}}</a>
				{% endfor %}
				</p>
				{{ content }}
				<p class="post-meta">Tags: {{ tags | array_to_sentence_string }}
				</p>
			</article>

			<article class="post-comments" id="comments-box">
				<h1 class="page-title">Comments</h1>
				<form id="new-comment">
					<input type="text" id="nameField" placeholder="Enter your name" required><br/>
					<textarea id="textField" placeholder="Your comments please." required></textarea><br/>
					<button type="submit" id="commentBtn">Post Comment</button>
				</form>
				<div id="comments"></div>	
			</article>
		</section>

		<aside class="post-aside">
			{% include categories.html %}
			{% include related.html %}
			<p class="rss-subscribe">subscribe <a href="{{ "/feed" | prepend: site.baseurl }}">via RSS</a></p>
			<a href="#">Scroll to Top</a>
		</aside>
	</div>

</div>
